
body{
    background-color:gray;
}

#margen{
    margin: 50px;
}
#container{
    background-color: black;
    margin: auto;
    margin-top: 150px;
    width: 30%;
    padding: 50px;
    border-radius: 15px;
}


